<a href="https://colab.research.google.com/github/zreal135/Team_Pandas/blob/main/Team_Pandas_DatafestAfrica_ML_Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**DataFestAfrica ML Hackathon**

In [ ]:
!pip install automl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: automl in /usr/local/lib/python3.7/dist-packages (2.9.9)
Requirement already satisfied: pathos<0.3.0,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from automl) (0.2.3)
Requirement already satisfied: numpy<2.0,>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.21.6)
Requirement already satisfied: pandas<1.0,>=0.18.0 in /usr/local/lib/python3.7/dist-packages (from automl) (0.25.3)
Requirement already satisfied: python-dateutil<3.0,>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from automl) (2.8.2)
Requirement already satisfied: tabulate<1.0,>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from automl) (0.8.10)
Requirement already satisfied: h5py<3.0,>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from automl) (2.10.0)
Requirement already satisfied: scipy<2.0,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.7.3)
Requirement already satisfied: scikit-learn<1.0,>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from automl) (0.24.2)
Requirement already satisfied: sklearn-deap2<0.3,>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from automl) (0.2.2)
Requirement already satisfied: dill<0.3,>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from automl) (0.2.9)
Requirement already satisfied: lightgbm<2.1,>=2.0.11 in /usr/local/lib/python3.7/dist-packages (from automl) (2.0.12)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from h5py<3.0,>=2.7.0->automl) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<1.0,>=0.18.0->automl) (2022.2.1)
Requirement already satisfied: ppft>=1.6.4.9 in /usr/local/lib/python3.7/dist-packages (from pathos<0.3.0,>=0.2.1->automl) (1.7.6.5)
Requirement already satisfied: multiprocess>=0.70.7 in /usr/local/lib/python3.7/dist-packages (from pathos<0.3.0,>=0.2.1->automl) (0.70.7)
Requirement already satisfied: pox>=0.2.5 in /usr/local/lib/python3.7/dist-packages (from pathos<0.3.0,>=0.2.1->automl) (0.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0,>=0.18.1->automl) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0,>=0.18.1->automl) (1.1.0)
Requirement already satisfied: deap>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from sklearn-deap2<0.3,>=0.2.1->automl) (1.3.3)

**Import Libraries**

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats

**Data collection from Github**

In [5]:
#loading the dataset from github
train = pd.read_csv('https://raw.githubusercontent.com/zreal135/Team_Pandas/main/train.csv')
test = pd.read_csv ('https://raw.githubusercontent.com/zreal135/Team_Pandas/main/test.csv')

In [6]:
train.head()

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
0,7629673,40,bi-weekly,1,3135,0,3,3,6,2,...,550,36200,0.737398,0.903517,0.487712,0.515977,0.580918,0.380918,10,1
1,5335819,33,semi-monthly,0,3590,0,5,2,2,8,...,1100,53850,0.617361,0.857560,0.613487,0.665523,0.744634,0.744634,12,0
2,8492423,21,weekly,0,2303,0,5,8,2,7,...,600,74850,0.677109,0.758765,0.495609,0.664762,0.592556,0.492556,6,1
3,7948313,26,bi-weekly,0,2795,0,4,4,1,6,...,800,50800,0.738055,0.873204,0.666437,0.700392,0.584130,0.684130,14,1
4,4297036,43,bi-weekly,0,5000,0,2,1,1,2,...,1100,69100,0.798303,0.841747,0.401971,0.568787,0.525905,0.725905,5,1

In [7]:
train.tail()

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
12511,7100872,31,weekly,0,3015,0,2,1,2,2,...,450,42450,0.643778,0.901396,0.632284,0.856231,0.666399,0.566399,6,1
12512,9949728,31,monthly,0,3245,0,5,3,2,6,...,700,71700,0.691126,0.928196,0.664112,0.838012,0.727705,0.627705,2,0
12513,9857590,46,weekly,0,2685,0,5,1,1,8,...,1200,59650,0.677975,0.918141,0.687981,0.939101,0.472045,0.672045,9,0
12514,8708471,42,bi-weekly,0,2515,0,3,5,6,1,...,400,80200,0.642741,0.885684,0.456448,0.686823,0.406568,0.406568,3,1
12515,1498559,29,weekly,1,2665,0,4,10,4,1,...,600,64950,0.720889,0.874372,0.505565,0.631619,0.846163,0.846163,4,1

In [8]:
test.head()

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month
0,3560428,61,weekly,0,3180,0,6,3,2,7,1,600,30150,0.738510,0.881027,0.713423,0.826402,0.730720,0.630720,9
1,6934997,23,weekly,0,1540,6,0,0,7,1,1,450,34550,0.642993,0.766554,0.595018,0.762284,0.531712,0.531712,7
2,5682812,40,bi-weekly,0,5230,0,6,1,2,7,1,700,42150,0.665224,0.960832,0.767828,0.778831,0.792552,0.592552,8
3,6493191,32,semi-monthly,0,5260,3,0,3,1,4,1,1150,64050,0.652429,0.802433,0.593816,0.560389,0.569459,0.369459,3
4,8990111,61,bi-weekly,1,3270,0,4,0,4,3,1,400,61700,0.659736,0.937287,0.852323,0.785698,0.632466,0.732466,7

In [9]:
test.tail()

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,has_debt,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month
5387,9056719,32,semi-monthly,1,2205,0,3,3,1,5,0,450,42600,0.575193,0.867671,0.549352,0.735433,0.662761,0.762761,4
5388,3077109,51,bi-weekly,0,2055,0,2,0,3,8,1,500,56800,0.735554,0.958610,0.503029,0.866972,0.310552,0.610552,5
5389,1807355,44,bi-weekly,0,5025,6,2,3,6,3,1,500,54500,0.711895,0.911418,0.522509,0.712864,0.484913,0.584913,9
5390,3983229,54,bi-weekly,0,2620,5,2,1,4,2,1,600,55450,0.638183,0.973020,0.502234,0.731239,0.579557,0.679557,6
5391,9442442,46,bi-weekly,0,6525,0,2,1,3,3,1,800,51800,0.648525,0.970832,0.699241,0.844724,0.774918,0.474918,3

In [ ]:
p

**Data cleaning**

In [ ]:
#checking for missing data